/* Home.css */
.home-container {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: black;
    width:100%;
  }
  
  .home-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .home-button {
    background-color: #232F3D !important;
    color: white !important;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
  }
  
  .home-button:hover {
    background-color: white !important;
    color:black !important;
    border-radius:10px;
  }
  